<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoundBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SoundBoard.Properties.Settings>
            <setting name="file1" serializeAs="String">
                <value />
            </setting>
            <setting name="file2" serializeAs="String">
                <value />
            </setting>
            <setting name="file3" serializeAs="String">
                <value />
            </setting>
            <setting name="file4" serializeAs="String">
                <value />
            </setting>
            <setting name="file5" serializeAs="String">
                <value />
            </setting>
            <setting name="file6" serializeAs="String">
                <value />
            </setting>
            <setting name="file7" serializeAs="String">
                <value />
            </setting>
            <setting name="file8" serializeAs="String">
                <value />
            </setting>
            <setting name="file9" serializeAs="String">
                <value />
            </setting>
            <setting name="file10" serializeAs="String">
                <value />
            </setting>
            <setting name="file11" serializeAs="String">
                <value />
            </setting>
            <setting name="file12" serializeAs="String">
                <value />
            </setting>
        </SoundBoard.Properties.Settings>
    </userSettings>
</configuration>